.index {
    text-align: center;
    background-color: #404351;
    font-size: calc(10px + 2vmin);
    color: white;
}

.index p {
    margin: 0;
}

.index img {
    margin-bottom: 30px;
}

.gene {
    background-color: #FFFFFF;
    padding: 30px;
}

.gene h2 {
    padding-left: 15px;
}

.axis {
    font: 10px sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
